<h2>WishList Books</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Topic</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books">
            <td >{{ book.title}}</td>

            <td >{{ book.topic }}</td>
            
            <td >
                <button (click)="returnBook(book.id)" class="btn btn-info">
                    Remove
                </button>

            </td>

    </tbody>
</table>